APP_ID=<YOUR_APP_ID>
PUBLIC_KEY=<YOUR_PUBLIC_KEY>
BOT_TOKEN=<YOUR_BOT_TOKEN>
LOCALTUNNEL_SUBDOMAIN=<LOCALTUNNEL_SUBDOMAIN>
APP_PORT=3000

DB_HOST=<DB_HOST>
MYSQL_DATABASE=<MYSQL_DATABASE>
MYSQL_USER=<MYSQL_USER>
MYSQL_PASSWORD=<MYSQL_PASSWORD>
MYSQL_ROOT_PASSWORD=<MYSQL_ROOT_PASSWORD>
MYSQL_TCP_PORT=<MYSQL_TCP_PORT>